.app-sidebar__user-avatar {
    width: 48px;
    background: darkgray;
    padding: 2px;
    object-fit: cover;
    object-position: center center;
}

.app-sidebar__toggle {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

.app-sidebar__toggle::before {
    display: none;
}

.headerRegister {
    background-color: #666666;
    color: #fff;
}

.headerUpdate{
    background-color: #666666;
    color: #fff;
}
